{% extends "master.html" %}
{% load static %}

{% block title %}
Authentication
{% endblock %}

{% block css %} href = {% static "styles.css" %} {% endblock %}

{% block content %}
    <header>
        <h1>Do You Lost Your Token? </h1>
        <p>Don't worry enter your Username and  Password to get it back</p>
    </header>
    <nav>
        <a href={% url "main" %}>Home</a>
        <a href={% url "register" %}>Register</a>
        <a href="https://github.com/mohamadrezabjr">Contact</a>
    </nav>

<section class="register-container">
    <form  action="{% url 'Show token' %}" method="post">

    <label for="username">Username :</label>
    <input    name="username" id = "username" placeholder="Username"/>

    <label for="password">Your Password : </label>
    <input type="password" name = "password" id ="password" placeholder="Password"/>
        <button>Show Token</button>
    </form>
</section>
{% endblock %}