{% extends "master.html" %}
{% load static %}

{% block title %}
Management
{% endblock %}


{% block css %} href = {% static "styles.css" %} {% endblock %}

{% block js %}  src="{% static 'js.js' %}" {% endblock %}

{% block content %}

        <header>
        <h1>Expense Added Successfully !</h1>
        <p>Now You Can See It In Management Section</p>
    </header>


     <nav>
        <a href={% url "main" %}>Home</a>
        <a href={% url "register" %}>Register</a>
        <a href="https://github.com/mohamadrezabjr">Contact</a>
    </nav>

<section class="hero">
        <h1>CLick This button : </h1>
    <form action="{% url 'manage data' %}">
    <input type="hidden" name = 'token' value="{{ token }}">
    <button type="submit"  style="padding: 0.7rem;
            background-color: #004080;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 1rem;
            cursor: pointer;">Get Back TO Management Section</button>

    </form>
</section>
{% endblock %}