{% extends "master.html" %}
{% load static %}

{% block title %}
Management
{% endblock %}

{% block css %} href = {% static "styles.css" %} {% endblock %}

{% block content %}
        <header>
        <h1>Who are you?</h1>
        <p>Enter your token </p>
    </header>

       <nav>
        <a href={% url "main" %}>Home</a>
        <a href={% url "register" %}>Register</a>
        <a href="https://github.com/mohamadrezabjr">Contact</a>
    </nav>

    <section class="register-container">
        <form action='{% url 'manage data' %}' method="post">

    <label for="token">Enter Your Token number</label>
        <p>Click<a href = {% url "register" %}> here</a> if you don't have token</p>
    <input name="token" id = "token" placeholder="Token"/>
    <button type="submit">submit</button>
    </form>
    </section>
{% endblock %}

