{% extends "master.html" %}
{% load static %}

{% block title %}
Registration
{% endblock %}

{% block css %} href = {% static "styles.css" %} {% endblock %}

{% block content %}

  <header>
        <h1>Registration</h1>
        <p> Welcome to our website ! here you can signup and get a token.</p>
    </header>
    <nav>
        <a href= {% url "main" %}>Home</a>
        <a href="https://github.com/mohamadrezabjr">Contact</a>
    </nav>
    <section class = register-container>
        <form method="POST">

         {% csrf_token %}
        {{ form.as_p }}
        <input type="submit"/>

        </form>

    </section>

{% endblock %}

