{% extends "master.html" %}
{% load static %}

{% block title %}

{% endblock %}

{% block css %} href = {% static "styles.css" %} {% endblock %}

{% block content %}


<header>
        <h1>Registration completed</h1>
        <p> Thank you for signing up!</p>
    </header>
<nav>
    <a href = {% url "main" %}>Home</a>
    <a href = 'https://github.com/mohamadrezabjr'>Contact us</a>

</nav>

       <section class="hero">
        <h1>Now please log in! </h1>
        <p>Click this button.</p>
    </section>


<section class="features">
       <a href="{% url 'login' %}" class = "feature" style = ' color : #002050; text-decoration: none;'>
            <h3>Signin</h3>

</section>
{% endblock %}