{% extends "master.html" %}
{% load static %}

{% block title %}
Registration completed
{% endblock %}

{% block css %} href = {% static "styles.css" %} {% endblock %}

{% block content %}


<header>
        <h1>Congratulations!</h1>
        <p>Now you get a token </p>
    </header>
<nav>
    <a href = {% url "main" %}>Home</a>
    <a href = 'https://github.com/mohamadrezabjr'>Contact us</a>

</nav>
    <section class="hero">
        <h1>Here is your token</h1>
        <p> {{ token }}</p>
    </section>
{% endblock %}